@use "./components/globales" as *;
@use "./components/mixins-forms" as *;

.recovery {
  .primary-button {
    @include boton
  }
  .message {
    font-size: var(--sm);
    color: #797979;
    a {
      text-decoration: none;
      color: var(--hospital-green);
    }
  }
  @include formulario
}