:root {
  --very-ligth-pink: #C7C7C7;
  --white: #FFFFFF;
  --text-input-field: #F7F7F7;
  --black: #000000;
  --hospital-green: #ACD9B2;
  --dark: #232830;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Quicksand', sans-serif;
}