@use "./globales" as *;
@mixin labels {
  margin-bottom: 4px;
  font-size: var(--sm);
  font-weight: bold;
}
@mixin inputs {
  height: 42px;
  padding: 6px;
  margin-bottom: 12px;
  font-family: $fuente1;
  font-size: var(--md);
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
}
@mixin boton {
  width: 100%;
  height: 50px;
  margin-top: 12px;
  margin-bottom: 32px;
  font-family: $fuente1;
  font-size: var(--lg);
  font-weight: 700;
  color: var(--white);
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
@mixin formulario {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  .form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    min-width: 300px;
    max-width: 380px;
    width: 100%;
    padding: 20px;
  }
  .logo {
    justify-self: center;
    width: 150px;
    margin-bottom: 48px;
  }
  .title {
    margin-bottom: 12px;
    font-size: var(--lg);
  }
  .subtitle {
    margin-bottom: 32px;
    text-align: center;
    font-size: var(--md);
    font-weight: 300;
    color: #797979;
  }
}