extends components/template.pug
include components/mixins-forms.pug
block cssLink
  link(rel="stylesheet", href="./css/new-password.css")
block contenidos
  .login 
    .form-container 
      img.logo(src="../assets/logo_yard_sale.svg", alt="logo")
      h1.title Create a new password
      p.subtitle Enter a new password for your account
      form.form(action="") 
        +forInput({
          idM: "password",
          classM: "password",
          typeM: "password",
          labelM: "Password",
          placeholderM: "************"})
        +forInput({
          idM: "re-password",
          classM: "password",
          typeM: "password",
          labelM: "Re-enter password",
          placeholderM: "************"})
        input.primary-button.login-button(type="submit" value="Confirm")