extends components/_template.pug
include components/_mixins-forms.pug
block cssLink
  link(rel="stylesheet", href="./css/password-recovery2.css")
block contenidos
  .recovery
    .form-container
      +logo
      +title({
        title: "Email has been sent!",
        subtitle: "Please check your inbox for instructions on how to reset the password",
        }) 
      img(src="../assets/email.svg", alt="email")
      button.primary-button.login-button Login 
      p.message Didn’t receive the email? 
        a(href="") Resend